version: '3'
services:
  db:
    image: mysql
    container_name: db
    environment:
      MYSQL_ROOT_PASSWORD: steve
      MYSQL_DATABASE: tasks
    ports:
      - "3306:3306"
    networks:
      - task_net
    healthcheck:
      test: ["CMD-SHELL", "mysql -h db -uroot -p$$MYSQL_ROOT_PASSWORD -e 'SELECT 1;'"]
      interval: 5s
      timeout: 5s
      retries: 5

  pma:
    image: phpmyadmin
    ports:
      - "8080:80"
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: steve  # Use the same root password as MySQL
    depends_on:
      - db
    networks:
      - task_net

  web:
    build: ./flask_app
    environment:
      - FLASK_ENV=docker
    command: ["./entrypoint.sh", "flask", "run", "--host=0.0.0.0"]
    ports:
      - "5000:5000"
    depends_on:
      db:
        condition: service_healthy
    networks:
      - task_net

networks:
  task_net:
